name: Deploy to Private Repo

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Push to Private Repo
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git remote add private-repo https://${{ secrets.DEPLOY_TOKEN }}@github.com/davegoopot/beemanager-deploy.git
        git push private-repo main:main
