name: Deploy to Private Repo
env:
  GITHUB_TOKEN:  ${{ secrets.DEPLOY_TOKEN }}

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Push to Private Repo
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git remote add private-repo https://x-access-token:${GITHUB_TOKEN}@github.com/davegoopot/beemanager-deploy.git
        git push private-repo main:main
